div.preloader
  p.preloader__logo-wrapper
    picture.preloader__logo
      img(src=imagePath + 'preloader-logo.svg')
  .preloader__rectangle.preloader__rectangle--left
  .preloader__square
  .preloader__rectangle.preloader__rectangle--right